{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <!-- Conditional rendering based on variables -->
        <img src="{{#if this.avatar_url}}
                        {{this.avatar_url}}
                    {{else}}
                        /images/{{this.username}}
                    {{/if}}" 
                    alt="User Avatar" 
                    class="header-avatar">
        
        <span class="title gaegu-regular bold">{{this.title}}</span>
    </div>
    <div class="post-content">
        <span class="content gaegu-class">{{this.content}}</span>
        <!-- the post -->
        <div class="post-status-bar">
           <!-- Determine whether to show like button OR the trashcan depending on the user-->
            {{#ifCond this.username user.username}}
                <div class="delete">
                    <button type="button" data-id={{this.id}} class="trash" onclick="handleDeleteClick(event)">🗑️</button>
                    <div class="num-likes">
                        <p>{{this.likes}} likes</p>
                    </div>
                </div>
            {{else}}
                <div class="likes">
                    <button type="button" data-id={{this.id}} class="heart" onclick="handleLikeClick(event)">♡</button>
                    <div class="num-likes">
                        <p>{{this.likes}} likes</p>
                    </div>
                </div>
            {{/ifCond}}

            <div class="timestamp">Noted at {{this.timestamp}} by {{this.username}}</div>
        </div>        
    </div>
</div>
<script>

    function handleLikeClick(event) {
        event.preventDefault();

        const postId = event.target.getAttribute("data-id");

        // If the heart isn't filled, then clicking it means we are liking (rather than unliking)
        let likeUp = (event.target.textContent === "♡");
  
        fetch("/like/" + postId, {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: `likeUp=${encodeURIComponent(likeUp)}`
        })
        .then(res => res.text())
        .then(text => {
            const numLikes = parseInt(text);

            // User was logged in, so we got some # other than NaN
            // So we allow the likes to actually get updated on the DOM
            if (!isNaN(numLikes)) {
                event.target.nextElementSibling.textContent = numLikes + " likes";

                if (likeUp) {
                    // Like the post
                    event.target.textContent = "♥";
                } else {
                    // Unlike the post
                    event.target.textContent = "♡";
                }
            }
        })
        .catch(error => console.error("Error:", error));     
    }

    function handleDeleteClick(event) {
        // Climb up html hierachy to locate post html element
        // Hierarchy: button -> delete div -> post-status-bar -> post-content -> post
        const postElement = event.target.parentElement.parentElement.parentElement.parentElement;
        const postId = event.target.getAttribute("data-id");      

        fetch("/delete/" + postId, {
            method: "POST",
        })
        .then(response => response.text())
        .catch(error => console.error('Error:', error));
        
        // Remove from DOM
        postElement.remove();
    }    
</script>