{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <!-- TODO conditional rendering based on variables copied this code from main.handlebars-->
        <img src="{{#if this.avatar_url}}
                        {{this.avatar_url}}
                    {{else}}
                        /avatar/{{this.username}}
                    {{/if}}" 
                    alt="User Avatar" 
                    class="header-avatar">
        
        <span class="title gaegu-class">{{this.title}}</span>
    </div>
    <div class="post-content preserve-newlines">
        <span class="content gaegu-class">{{this.content}}</span>
        <!-- the post -->
        <div class="post-status-bar">
           <!-- TODO determine whether to show post + likes OR the trashcan depending on the user-->
            {{#ifCond this.username user.username}}
                <div class="likes">
                    <button type="button" class="trash" onclick="handleDeleteClick(event)">🗑️</button>
                    <div class="num-likes">
                        <p>{{this.likes}} likes</p>
                    </div>
                </div>
            {{else}}
                <div class="likes">
                    <button type="button" class="heart" onclick="handleLikeClick(event)">♡</button>
                    <div class="num-likes">
                        <p>{{this.likes}} likes</p>
                    </div>
                </div>
            {{/ifCond}}
            

            <!-- font awesome  trashcan = <i class="fas fa-trash-alt"> </i>-->

            <div class="timestamp">Noted at {{this.timestamp}} by {{this.username}}</div>
        </div>        
    </div>
</div>
<script>

    // TODO need to add eventListeners??

    function handleLikeClick(event) {
        event.preventDefault();

        const postId = event.target.getAttribute("data-id");
        console.log("postId", postId);

        event.target.textContent = event.target.textContent === "♡" ? "♥" : "♡";

        // TODO: Consider updatePostLikes() in server.js, which is called by app.post("/like/:id"...) thing
        // TODO you might want to "fetch" something...   
        fetch("/like/" + postId, {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: "id=${encodeURIComponent(postId)}"  // TODO not sure what to do for body (taken from tutorial)
        })
        .then(res => res.text())
        .then(text => event.target.nextElementSibling.textContent = parseInt(text))
        .catch(error => console.error("Error:", error));     
        // TODO need to check someone is actually signed in...also would have to rmemember which posts they liked??
        // TODO so maybe another handlebar helper to determine which to display...
    }

    function handleDeleteClick(event) {
        const buttonElement = event.target.closest(".delete-button");
        const postId = buttonElement.getAttribute("data-id");        

        // TODO you might want to "fetch" something...   
        fetch("/delete/" + postId, {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
            },
            body: "userAnswer=${encodeURIComponent(userAnswer)}"  // TODO not sure what to do for body (taken from tutorial)
        })
        .then(response => response.text())
        .catch(error => console.error('Error:', error));    
    }    
</script>