<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    
    <!-- font awesome for the trashcan icon --> 
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
    <title>{{{appName}}}</title>

    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
</head>
<body class="gaegu-regular">
    <header>
        <div class="logo">
            <a href="/"><img src="images/logo.png" class="header-logo" alt="website logo" title="logo"></a>
            <h1><a href="/">{{{appName}}}</a></h1>
        </div>
        <nav>
            <ul>
                <!-- conditional rendering based on variables - Is the user logged in?-->
                {{#if loggedIn}}
                    <li><a href="/">HOME</a></li>
                    <li><a href="/profile">PROFILE</a></li>
                    <li><a href="/logout">LOGOUT <span>{{user.username}}</span> </a></li>
                    <div class="user-info">
                        <!-- conditional rendering based on variables -->
                        <img src="{{#if user.avatar_url}}
                                        {{user.avatar_url}}
                                    {{else}}
                                        images/{{user.username}}
                                    {{/if}}" 
                                    alt="User Avatar" 
                                    class="header-avatar">
                    </div>
                {{else}}
                    <li><a href="/">HOME</a></li>
                    <li><a href="/auth/google">LOGIN</a></li>
                    {{!-- <li><a href="/registerUsername">LOGIN</a></li> --}}
                    {{!-- Temporary change route to focus on Login with OAuth 2.0 --}}
                    {{!-- <li><a href="/login">LOGIN / REGISTER</a></li> --}}

                {{/if}}
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>© {{{copyrightYear}}} {{{appName}}}. All rights reserved.</p>
    </footer>
</body>
</html>
