{{! Use the main layout }}
{{!< main }}

<section class="profile">
    <div class="profile-container">
        <div class="profile-avatar">
            <!-- Conditional rendering based on variables copied this code from main.handlebars-->
            <img src="{{#if user.avatar_url}}
                            {{user.avatar_url}}
                        {{else}}
                            /images/{{user.username}}
                        {{/if}}" 
                        alt="User Avatar" 
                        class="header-avatar">
            
        </div>

        <section class="profile-info">
            <p><span class="bold gaegu-class">Username:</span> {{user.username}}</p>
            <p><span class="bold gaegu-class">Member Since:</span> {{formatTimestamp user.memberSince}}</p>
            <p><span class="bold gaegu-class" style="display:none" id="class-year"></p>

            {{#ifCond user.username currentUser.username}}
                <button type="button" id="year-dropdown" class="gaegu-regular" onclick="toggleDropdown()">Select Year</button>
                <ul class="options">
                    <li id="2024">2024</li>
                    <li id="2025">2025</li>
                    <li id="2026">2026</li>
                    <li id="2027">2027</li>
                </ul>
            {{/ifCond}}
            
        </section>

        
        <section class="user-change">
            {{#ifCond user currentUser}}
            <h2>&mdash; Change Username &mdash;</h2>
            <!-- errors will appear here -->
            {{#if regError}}
                <p style="color: red;">{{regError}}</p>
            {{/if}}
                <form action="/changeUser" method="POST">
                <!-- Following two lines from 5/15 lecture with Dr. Posnett -->
                <label for="new-username">New Name:</label>
                <input type="text" id="new-username" name="username" class="gaegu-regular">
                <button type="submit" class="gaegu-regular">Submit</button>
            </form>
            {{/ifCond}}
        </section>
        

        <section class="bio">
            <h2>&mdash; Bio &mdash;</h2>
            <div id="actual-bio">
                <p>{{user.bio}}</p>
                {{#ifCond user.username currentUser.username}}
                    <button type="button" class="gaegu-regular" onclick="editBio()">EDIT</button>
                {{/ifCond}}
            </div>

            <div class="post-form" id="bio-edit">
                <form action="/bio" method="POST">
                    <textarea class="gaegu-regular" id="content" name="content" required=false placeholder="Say something about yourself!">{{user.bio}}</textarea>

                    <div class="form-actions" id="bio-buttons">
                        <button type="button" class="gaegu-regular" onclick="toggleEmojiPanel()">😀</button>
                        <button type="button" class="gaegu-regular" onclick="editBio()">CANCEL</button>
                        <button type="submit" class="gaegu-regular">FINISH</button>
                    </div>
                </form>

                <div id="emoji-container" class="emoji-panel" style="display: none;">
                    <!-- input field for the emoji search -->
                    <input class="gaegu-regular" type="search" id="emoji-search" name="search" placeholder="Search for an emoji" oninput="searchEmojis()"/>

                    <div id="emoji-grid">

                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<section class="user-posts">
    <!-- you can call posts tweets, or truths, or whatever, these are neologisms. Choose your own new in server.js -->
    {{#ifCond user currentUser}}
        <h2>&mdash; Your {{{postNeoType}}}s &mdash;</h2>
    {{else}}
        <h2>&mdash; {{user.username}}'s {{{postNeoType}}}s &mdash;</h2>
    {{/ifCond}}
    <!-- you'll need to make this conditaionl and #each expression work -->
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                <!-- you have to pass the user in to posts and this is the syntax -->
                {{> post this user=../user currentUser=../currentUser}}            
            {{/each}}
        </ul>
        {{else}}
            <!-- fix this up with some helper functions and other handlebars expressions, or add you own character -->
            <p>You have not posted yet, {{postNeoType}}-Taker!</p>
        {{/if}}
</section>

<script>
    setYearSelection();

    function editBio() {
        const actualBio = document.getElementById("actual-bio");
        actualBio.style.display = actualBio.style.display === "none" ? "flex" : "none";

        const form = document.getElementById("bio-edit");
        form.style.display = form.style.display !== "flex" ? "flex" : "none";
    }

    function setYearSelection() {
        const yearOf2024 = document.getElementById("2024");
        const yearOf2025 = document.getElementById("2025");
        const yearOf2026 = document.getElementById("2026");
        const yearOf2027 = document.getElementById("2027");

        yearOf2024.addEventListener("click", changeYear);
        yearOf2025.addEventListener("click", changeYear);
        yearOf2026.addEventListener("click", changeYear);
        yearOf2027.addEventListener("click", changeYear);
    }

    function changeYear() {
        const classYearElement = document.getElementById("class-year");
        classYearElement.style.display = "block";
        classYearElement.textContent = "Class of " + this.id;
        toggleDropdown();
    }
</script>