{{! Use the main layout }}
{{!< main }}

<section class="profile">
    <div class="profile-container">
        <div class="profile-avatar">
            <!-- Conditional rendering based on variables copied this code from main.handlebars-->
            <img src="{{#if user.avatar_url}}
                            {{user.avatar_url}}
                        {{else}}
                            /images/{{user.username}}
                        {{/if}}" 
                        alt="User Avatar" 
                        class="header-avatar">
            
        </div>

        <section class="profile-info">
            <p><span class="bold gaegu-class">Username:</span> {{user.username}}</p>
            <p><span class="bold gaegu-class">Member Since:</span> {{user.memberSince}}</p>
        </section>

        <section class="user-change">
            <h2>Change Username</h2>
            <!-- errors will appear here -->
            {{#if regError}}
                <p style="color: red;">{{regError}}</p>
            {{/if}}
            <form action="/changeUser" method="POST">
                <!-- Following two lines from 5/15 lecture with Dr. Posnett -->
                <label for="new-username">New Username:</label>
                <input type="text" id="new-username" name="username" class="gaegu-regular">
                <button type="submit" class="gaegu-regular">Submit</button>
            </form>
        </section>
    </div>
</section>

<section class="user-posts">
    <!-- you can call posts tweets, or truths, or whatever, these are neologisms. Choose your own new in server.js -->
    <h2>&mdash; Your {{{postNeoType}}}s &mdash;</h2>
    
    <!-- you'll need to make this conditaionl and #each expression work -->
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                <!-- you have to pass the user in to posts and this is the syntax -->
                {{> post this user=../user}}            
            {{/each}}
        </ul>
        {{else}}
            <!-- fix this up with some helper functions and other handlebars expressions, or add you own character -->
            <p>You have not posted yet, {{postNeoType}}-Taker!</p>
        {{/if}}
</section>
